/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
.main-header,
.sticky-header {
    @include screen('mobile-landscape-max') {
        display: none;
    }
}

.mobile-header {
    display: none;
    @include screen('mobile-landscape-max') {
        display: block;
    }
}

.flex-mobile-el {
    display: none !important;
    @include screen('mobile-landscape-max') {
        display: flex !important;
    }
}

.flex-desktop-el {
    display: flex !important;
    @include screen('mobile-landscape-max') {
        display: none !important;
    }
}

.h_space {
    display: block;
    height: var(--h_space);
    width: 100%;
}
/* Current Date */
.cur-date {
    @include flexbox;
    @include align-items(center);

    .d {
        font-size: 24px;
        margin: 0;
        margin-#{$right}: 5px;
    }

    .my {
        @include flexbox;
        @include flex-direction(column);
        font-weight: 400;
        font-size: 11px;
        line-height: 1.1;
    }
}
/* Advertisement */
.ads-heading {
    @include flexbox;
    @include justify-content(center);
    @include second-text;
    font-size: $font__size_tiny;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 0.05em;
}
/* Loader */
.xloader,
.slick-slider:not(.slick-initialized)::before {
    display: inline-block;
    width: var(--loader-size);
    height: var(--loader-size);
    --c: radial-gradient(farthest-side,var(--color-accent) 92%,#0000);
    background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
    background-size: 9px 9px;
    background-repeat: no-repeat;
    animation: s7 1s infinite;
}

.block-loader .xloader,
.slick-slider:not(.slick-initialized)::before {
    position: absolute;
    top: 50%;
    #{$left}: 50%;
    margin-top: calc((var(--loader-size) / 2) * -1);
    margin-#{$left}: calc((var(--loader-size) / 2) * -1);
}

.loader-small {
    width: var(--loader-size_small);
    height: var(--loader-size_small);
        background-size: 6px 6px;
}

.slick-slider:not(.slick-initialized)::before {
    content: '';
}
@keyframes s7 {
    to {
        transform: rotate(.5turn);
    }
}
/* Scroll to Top */
.fly-trigger {
    z-index: 998;
    position: fixed;
    #{$right}: 20px;
    bottom: 20px;
    margin-bottom: 0;
    @include transition(all, 0.25s, linear);

    .button {
        border-radius: 10px;
    }
}

.skin-fly {
    @include flexbox;
    @include flex-direction(column);
    gap: 10px;
}

.totop-fly {
    bottom: -75px;
    opacity: 0;

    &.show {
        opacity: 1;
        bottom: 20px;
    }
}

.top-pos {
    bottom: 60px;
}

.totop-trigger {
    .icon-svg {
        color: var(--color-accent);
    }
}
/* Dark Switcher */
.s-front .button.skin-trigger {
    &.trigger-light {
        display: none;
    }
}
/* Contact Form 7 */
.wpcf7 {
    span.wpcf7-list-item {
        display: block;
        margin: 0;
    }
}
/* Reading Indicator */
.reading-indicator {
    position: fixed;
    z-index: 99;
    #{$left}: 0;
    background-color: var(--color-accent);
    height: calc(var(--reading_indicator_height) * 1px);

    .reading-indicator-bottom & {
        bottom: 0;
        top: auto;
    }

    .reading-indicator-top & {
        bottom: auto;
        top: 0;
    }

    .admin-bar.reading-indicator-top & {
        @include screen('mobile-landscape-min') {
            top: 32px;
        }
    }
}
/* Dynamic Width Select */
.resizeselect {
    display: none;
}

#width_tmp_select {
    display: none;
    visibility: hidden;
    width: auto;
}
// Animation
@include keyframes('spin') {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
/* Close Icon */
.close-icon {
    width: 1em;
    height: 1em;
    display: block;
    top: 0;
    bottom: 0;
    #{$left}: 0;
    #{$right}: 0;
    margin: auto;
    cursor: pointer;
    position: relative;

    &:after,
    &:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        @include transition(all, 0.25s, linear);
        top: 50%;
        background-color: currentColor;
    }

    &:after {
        transform: rotate(35deg);
        #{$right}: 0;
    }

    &:before {
        transform: rotate(-35deg);
        #{$left}: 0;
    }
}

.popup-close {
    width: 34px;
    height: 34px;
    font-size: 34px;
}

.svg-icon-wrap {
    width: auto;
    height: auto;
}
/* Not Found & 404 */
.notfound {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    text-align: center;
    max-width: 600px;
    margin: 30px auto;

    .search-form {
        width: 100%;
        max-width: 500px;
    }
}

.error-icon {
    font-size: 200px;
    @include flexbox;
    margin-bottom: 30px;
}

.notfound-404 {
    h1 {
        font-size: 120px;
        @include screen('mobile-max') {
            font-size: 80px;
        }
    }
}
/* Woo Cart */
.shopping-cart-counter {
    @include second-text;
    background-color: red;
    color: #fff;
    min-width: 15px;
    height: 16px;
    line-height: 16px;
    font-size: $font__size_small;
    font-weight: 600;
    padding: 0 2px;
    margin-#{$left}: -7px;
    border-radius: 5px;
}

/* Copyright */
.copyright-wrapper {
    font-size: $font__size_medium;
}
